#local env files
.env*

#all files with css ext
*.css
*.js                                                                                                                                                                                                   